<ion-header>
  <ion-toolbar mode="md">
    <ion-button slot="start" (click)="cancel()">Cancel</ion-button>
    <ion-title>Create Lead</ion-title>
    <ion-button slot="end">Save</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>

  <app-accordion title="Key Info">
    <ion-item>
      <ion-label>Lead Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Potential Client</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Stage</ion-label>
      <ion-select placeholder="Stage">
        <ion-select-option value="Open">Open</ion-select-option>
        <ion-select-option value="Closed">Closed</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Lead Source</ion-label>
      <ion-select placeholder="Lead Source">
        <ion-select-option value="">Option</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>City</ion-label>
      <ion-select placeholder="City">
        <ion-select-option value="Detroit">Detroit</ion-select-option>
        <ion-select-option value="Orlando">Orlando</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Country</ion-label>
      <ion-select placeholder="Country">
        <ion-select-option value="US">United States</ion-select-option>
        <ion-select-option value="CA">Canada</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>State</ion-label>
      <ion-select placeholder="State">
        <ion-select-option value="MI">Michigan</ion-select-option>
        <ion-select-option value="FL">Florida</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Score</ion-label>
      <ion-select placeholder="Score">
        <ion-select-option value="Pass">Pass</ion-select-option>
        <ion-select-option value="Fail">Fail</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Risk Profile</ion-label>
      <ion-select placeholder="Risk Profile">
        <ion-select-option value="Low">Low</ion-select-option>
        <ion-select-option value="High">High</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Deliverables</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Estimated Cost</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Estimated Size</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Estimated Unit Size</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Tickler Date</ion-label>
      <ion-input type="date"></ion-input>
    </ion-item>
  </app-accordion>

  <app-accordion title="Section 2">
    <ion-item>
      <ion-label>Lead Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Potential Client</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Stage</ion-label>
      <ion-select placeholder="Stage">
        <ion-select-option value="Open">Open</ion-select-option>
        <ion-select-option value="Closed">Closed</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Lead Source</ion-label>
      <ion-select placeholder="Lead Source">
        <ion-select-option value="">Option</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>City</ion-label>
      <ion-select placeholder="City">
        <ion-select-option value="Detroit">Detroit</ion-select-option>
        <ion-select-option value="Orlando">Orlando</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Country</ion-label>
      <ion-select placeholder="Country">
        <ion-select-option value="US">United States</ion-select-option>
        <ion-select-option value="CA">Canada</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>State</ion-label>
      <ion-select placeholder="State">
        <ion-select-option value="MI">Michigan</ion-select-option>
        <ion-select-option value="FL">Florida</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Score</ion-label>
      <ion-select placeholder="Score">
        <ion-select-option value="Pass">Pass</ion-select-option>
        <ion-select-option value="Fail">Fail</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Risk Profile</ion-label>
      <ion-select placeholder="Risk Profile">
        <ion-select-option value="Low">Low</ion-select-option>
        <ion-select-option value="High">High</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Deliverables</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Estimated Cost</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Estimated Size</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Estimated Unit Size</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Tickler Date</ion-label>
      <ion-input type="date"></ion-input>
    </ion-item>
  </app-accordion>
</ion-content>
